*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: grid;
  place-items: center;
}

.row-line {
  display: flex;
  position: relative;
}

input {
  border-color: rgba(0, 0, 0, 0.35);
  width: 100%;
}

input:disabled {
  cursor: default;
  background-color: inherit;
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(0, 0, 0, 0.35);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.grid-container {
  display: grid;
  width: 80%;
}

.add-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 21px;
  left: -3rem;
  cursor: pointer;
  background-color: green;
  color: white;
}

.delete-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 21px;
  left: -3rem;
  cursor: pointer;
  background-color: red;
  color: white;
}

.both-btn {
  position: absolute;
  display: flex;
  width: 6rem;
  left: -6rem;
}

.both-btn > * {
  position: unset;
}
