#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: grid;
  place-items: center;
}

.row-line {
  display: flex;
}

input {
  border-color: rgba(0, 0, 0, 0.35);
}

input:disabled {
  cursor: default;
  background-color: inherit;
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(0, 0, 0, 0.35);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
