*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100%;
  display: grid;
  padding-top: 8rem;
  justify-items: center;
  align-items: flex-start;
}

.row-line {
  display: flex;
  position: relative;
}

input {
  border-color: rgba(0, 0, 0, 0.35);
  width: 100%;
}

input:disabled {
  cursor: default;
  background-color: inherit;
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(0, 0, 0, 0.35);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.grid-container {
  display: grid;
  place-items: center;
  width: 75%;
}

.add-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 21px;
  left: -3rem;
  cursor: pointer;
  background-color: green;
  color: white;
}

.delete-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 21px;
  left: -3rem;
  cursor: pointer;
  background-color: red;
  color: white;
}

.both-btn {
  position: absolute;
  display: flex;
  width: 6rem;
  left: -6rem;
}

.both-btn > * {
  position: unset;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}

.modal-container input {
  width: 15rem;
  height: 2rem;
  border-radius: 8px;
}

.add-product-btn {
  width: 100%;
  background-color: rgb(67, 67, 243);
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 0.25rem;
  border-radius: 8px;
}

.btn-red {
  background-color: rgb(237, 45, 45);
}

.total-row-container {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.total-row {
  display: flex;
}

.total-row .header-input-container input {
  width: 13rem;
}
